/* .loader {
    position: fixed;
    /* inset-0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    /* background-opacity: 50%;
    z-index: 50;
}

.spinner {
    width: 4rem;
    height: 4rem;
    border: 4px solid white;
    border-top-color: transparent;
    border-radius: 50%;
    animation: spin 1s linear infinite;
} */

.loader {
    position: absolute;
    /* або fixed, якщо потрібно покрити весь екран */
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    /* напівпрозорий чорний фон */
    background-color: var(--primary-bg);
    z-index: 50;
}

.spinner {
    width: 4rem;
    height: 4rem;
    border: 4px solid black;
    border-top-color: transparent;
    border-radius: 50%;
    animation: spin 1s linear infinite;

    display: none;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}



.smallLogoPart1,
.smallLogoPart2 {
    position: absolute;
    width: 4rem;
    height: 4rem;
    opacity: 0;
    transform: scale(1);

    filter: drop-shadow(0 0 1px #FFF7E8);
}

.smallLogoPart1 {
    animation: fadeInOut 1.5s infinite ease-in-out;
    animation-delay: 0s;
}

.smallLogoPart2 {
    animation: fadeInOutSecond 1.5s infinite ease-in-out;
    animation-delay: 0s;
}

@keyframes fadeInOut {
    0% {
        opacity: 0;
        transform: scale(1);
    }

    25% {
        opacity: 1;
        transform: scale(1);
    }

    50% {
        opacity: 1;
        transform: scale(1);
    }

    75% {
        opacity: 1;
        transform: scale(1.2);
    }

    100% {
        opacity: 0;
        transform: scale(1.2);
    }
}

@keyframes fadeInOutSecond {
    0% {
        opacity: 0;
        transform: scale(1);
    }

    25% {
        opacity: 0;
        transform: scale(1);
    }

    50% {
        opacity: 1;
        transform: scale(1);
    }

    75% {
        opacity: 1;
        transform: scale(1.2);
    }

    100% {
        opacity: 0;
        transform: scale(1.2);
    }
}